*.log
.idea
.idea/**/*
.nyc_output
mochawesome-report
.DS_Store
npm-debug.log.*
node_modules
node_modules/**/*
.eslintcache
cert
logs/*
desktop.ini
package-lock.json
.history
.env
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
